<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=.;Initial Catalog=TestDB;User Id=sa;Password=111111" providerName="System.Data.SqlClient"/>
    <add name="mytestdb" connectionString="Data Source=.;Initial Catalog=mytestdb;User Id=root;Password=" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Test" value="asd&lt;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPushMessage" />
        <binding name="BasicHttpBinding_IPushToSitecore" />
        <binding name="BasicHttpBinding_IPushData" />
        <binding name="BasicHttpBinding_IPushToKM" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8182/PushMessageService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPushMessage" contract="PushMessageServiceReference.IPushMessage" name="BasicHttpBinding_IPushMessage" />
      <endpoint address="http://localhost:8183/PushToSitecoreService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPushToSitecore" contract="PushToSitecoreServiceReference.IPushToSitecore" name="BasicHttpBinding_IPushToSitecore" />
      <endpoint address="http://localhost:8191/PushDataService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPushData" contract="PushDataToChinaSupportReference.IPushData" name="BasicHttpBinding_IPushData" />
      <endpoint address="http://localhost:8183/PushToKM" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPushToKM" contract="PushToKMServiceReference.IPushToKM"
                name="BasicHttpBinding_IPushToKM" />
    </client>
  </system.serviceModel>
</configuration>