@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<form id="mainForm" action="/Ajax/FormData/Index" method="post" enctype="multipart/form-data">
    <input id="MyFile" name="MyFile" type="file" value="" multiple="multiple" />
    <input type="button" value="submit" onclick="submitForm();" />
</form>
<script src="http://localhost:9000/jquery.plugins/jquery.uploadHelper/jquery.uploadHelper.js" type="text/javascript"></script>
<script type="text/javascript">
    function submitForm() {
        //var mainForm = $('#mainForm')[0];
        //var formData = new FormData(mainForm);

        //$.ajax({
        //    url: $('#mainForm').attr('action'),
        //    type: "POST",
        //    data: formData,
        //    processData: false, //告诉jQuery不要去处理发送的数据
        //    contentType: false  //告诉jQuery不要去设置Content-Type请求头
        //});

        $('#MyFile').uploadHelper({
            url: $('#mainForm').attr('action'),
            uploading: function (data) {
                console.log(data);
            },
            uploaded: function (data) {
                console.log(data);
            }
        });
    };
</script>